<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
    <div class="d-flex justify-content-center">
        <!--action="/programs/<%= program._id %>/semesters" method="POST"-->
         <form>
            <div class="form-row">
                <div class="form-group col-md-12 form-center">
                    <h2 class="form-title">New Semester for: <% program.name %></h2>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 form-left form-style">
                     <label class="required" for="inputName">Semester Name</label>
                     <input type="text" class="form-control" id="inputName" name=semester[name] placeholder="Program Name" required = 'required' autofocus>
                </div>
            </div>
            <div class="fill-height-small"></div>
            <div class="form-row">
                <div class="form-group col-md-12 form-left form-style">
                     <label class="required" for="inputName">Description</label>
                     <textarea class="form-control rounded-0" id="inputDesc" rows="3" cols="50" name=semester[desc] required = 'required'></textarea>
                </div>
            </div>
            <div class="fill-height-small"></div>
            <div class="form-row">
                <div class="form-group col-md-12>
                    <div class="form-group col-md-12 form-left date">
                         <label class="required form-style" style="display:block">Start Date</label> 
                         <input class="form-style" style="display:block" id="startDate" type='date' name=semester[startDate] min="1000-01-01" max="3000-12-31" class="form-control" required = 'required'></input>
                    </div>
                    <div class="fill-width-large"> </div>
                    <div class="form-group col-md-12 form-left date">
                        <label id= "endDateLabel" class="required form-style">End Date</label>
                        <input class="form-style" style="display:block" id="endDate" type='date' name=semester[endDate] min="1000-01-01" max="3000-12-31" class="form-control" required = 'required'></input>
                    </div>
                </div>    
            </div>
            <div class="fill-height-small"></div>
            <div class="form-row">
                <div class="form-group col-md-12 form-center form-style">
                     <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 form-left form-style">
                    <a class="btn btn-default" href="/programs/index"><i class="fa fa-arrow-left"></i> Go back</a>
                </div>
            </div>
        </form>
    </div>
</header>
</div> 
<script>
$( document ).ready(function() {
   $('form').on('submit', function(){
    
    var startDate = document.getElementById("startDate").value;
    var endDate = document.getElementById("endDate").value;
    var endDateLabel = document.getElementById("endDateLabel").value;
    
    
    // alert("Alert!!" + startDate + " " + endDate);
    
    if ((Date.parse(startDate) >= Date.parse(endDate))) {
        $("#endDate").css("border-color", "red");
        document.getElementById("endDateLabel").innerHTML = "<span style='color:red'>End date must be greater than the start date</span>";
        return false;
    }
    else {
        $("#endDate").css("display", "none")
        $("#endDate").css("border-color", "");
        return true;
    }
   }); 
});
</script>
</header>

<% include ../partials/footer %>