<% include ../partials/header%>

<div class="container">
    <header class="jumbotron">
    <div class="row">
        <div class="col-md-12 normal-font">
           <div class="fill-medium"></div>
            <div class="form-row">
                <div class="form-group col-md-12" style="text-align: center">
                    <h2 style="color:#B22222; font-size: 70px; text-shadow: -2px 2px 3px #18325b" >We are Leaders.</h2>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12" style="text-align: center">
                    <h2 style="color:#B22222; font-size: 40px; text-shadow: -2px 2px 3px #18325b">With over 200 years of History & Heritage in Higher Education.</h2>
                </div>
            </div>
           <div class="fill-medium"></div>
           <div class="fill-small"></div>
        </div>
            
        </div>
    </header>     
</div>    

<% include ../partials/footer %>
