<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="d-flex justify-content-center" >    
            <div class="row">
                <form action="/login" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-12 form-center"> 
                            <h2 class="form-title">Login</h2>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 form-style form-left">
                            <label class="required" for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" name="username" placeholder="Email" required = 'required' autofocus>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="fill-height-x-small"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 form-style form-left">
                            <label class="required form-left" for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required = 'required' autofocus>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="fill-height-small"></div>
                    </div>
                    <div class="form-row form-style">
                        <div class="form-group col-md-12 form-center">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                    <div class="fill-height-medium"></div>
                </form>    
            </div> 
        </div>
        </div>
    </header>     
</div>    

<% include ../partials/footer %>

